.container {
  padding: 24px;
  background: linear-gradient(rgb(0, 0, 0), rgb(10, 23, 52));
  height: 100%;
}

.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}

.bgPattern {
  opacity: 0.07;
  background-image: linear-gradient(#444cf7 1px, transparent 1px),
    linear-gradient(to right, #444cf7 1px, transparent 1px);
  background-size: 15px 15px;
  height: 642px;
  left: 0;
  right: 0;
  position: absolute;
  pointer-events: none;

  animation: pulse 4s ease infinite;
}

.fade {
  /* Relative to `.bgPattern */
  position: absolute;
  z-index: 2;
}

.sideFade {
  width: 400px;
  top: -40px;
  bottom: -40px;
}

.baseFade {
  width: 100%;
}

.leftFade {
  left: 0;
  background: linear-gradient(to left, transparent 0%, rgb(0, 0, 0) 100%);
}

.rightFade {
  right: 0;
  background: linear-gradient(to left, rgb(0, 0, 0) 0%, transparent 100%);
}

.topFade {
  top: -40px;
  height: 200px;
  background: linear-gradient(black, 70%, transparent 100%);
}

.bottomFade {
  bottom: 0;
  height: 200px;
  background: linear-gradient(transparent, 50%, rgb(0, 12, 39) 100%);
}

.connectingLines {
  display: flex;
  position: relative;
}

@media (max-width: 1199px) {
  .layout {
    gap: 5%;
  }

  .connectingLines {
    display: none;
  }
}

.connectingLineContainer {
  width: 100%;
}

.leftConnectingLineContainer {
  margin-right: -20px;
}

.rightConnectingLineContainer {
  rotate: 180deg;
  transform-origin: center;
  margin-top: -5px;
}

.connectingLinePath {
  stroke-width: 2px;
  stroke-opacity: 0.1;
}

.connectingLine {
  /* Note: this has to closely related to the same path in the `ConnectingLine` svg path */
  offset-path: path("M30,1 H187 L218,35");
  position: absolute;
  opacity: 0;
  animation-fill-mode: forwards;
  width: 10px;
  height: 2px;
  border-radius: 50%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.5) 10%,
    rgba(255, 255, 255, 1) 100%
  );
  box-shadow: 0 0 0.6em #0dfcc4, 0 0 0.8em #17fcc7;
  transform: translate3d(0, 0, 0);
}

.leftConnectingLine {
  animation: move 4s infinite ease-out;
  animation-delay: 6s;
}

.rightConnectingLine {
  animation: move 4s infinite ease-out;
  animation-delay: 6s;
}

.usageGaugeContainer {
  position: absolute;
  bottom: -60px;
}

.usageGaugeContainer.left {
  right: -60px;
}

.usageGaugeContainer.right {
  left: -60px;
}

@media (max-width: 1199px) {
  .usageGaugeContainer {
    bottom: -120px;
  }

  .usageGaugeContainer.left {
    right: 50%;
  }

  .usageGaugeContainer.right {
    left: 50%;
  }
}

@media (max-width: 767px) {
  .usageGaugeContainer {
    bottom: -100px;
  }

  .usageGaugeContainer.left {
    right: 0;
  }

  .usageGaugeContainer.right {
    left: 0;
  }
}

.status {
  text-align: center;
}

.statusHeading {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  color: white;
  font-size: 13px;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.5),
    0 0 4px rgba(255, 255, 255, 0.5);
}

.statusLabel {
  font-size: 13px;
}

.statusLabel > .loading {
  color: rgba(255, 255, 255, 0.5);
}

.statusLabel > .error {
  background: linear-gradient(to right, #eee, red);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.status.bad {
  color: red;
}

.statusDotContainer {
  position: relative;
  display: inline-block;
}

.statusDot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #00ff81;
  color: #00ff81;
}

.statusDot::after {
  content: "";
  border-width: 2px;
  border-style: solid;
  border-color: inherit;
  border-radius: 30px;
  height: 9px;
  width: 9px;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  animation: pulsate 2s ease-out infinite;
  opacity: 0;
}

.thermalContainer {
  position: relative;
}

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

@keyframes move {
  0% {
    opacity: 0;
    offset-distance: 0%;
  }
  1% {
    opacity: 1;
  }
  20% {
    offset-distance: 100%;
  }

  30% {
    opacity: 0;
  }

  100% {
    offset-distance: 100%;
    opacity: 0;
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0.07;
  }

  50% {
    opacity: 0.12;
  }
}
