.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 8px;
  font-weight: bold;
}

.title {
  color: white;
}

.nContainer {
  position: absolute;
  top: 47px;
  color: white;
  font-size: 13px;
}