.container {
  padding: 24px;
  background: linear-gradient(rgb(0, 0, 0), rgb(1, 8, 25));
  height: 100%;
}

.layout {
  display: grid;
  grid-template:
    "gauges thermal" auto
    "fans thermal" 1fr
    "fans themarl" 1fr / 1fr auto;
  gap: var(--layoutGap);
}

.memoryBlock {
  grid-area: memory;
}

.gaugesBlock {
  grid-area: gauges;
}

.thermalBlock {
  grid-area: thermal;
  display: flex;
  flex-direction: column;
  gap: var(--layoutGap);
}

.statusContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.systemStatus {
  color: var(--grey);
  font-size: 14px;
}

.status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.status.green {
  background-color: green;
}

.status.orange {
  background-color: orange;
}

.status.red {
  background-color: red;
}
