.container {
  padding: 24px;
  background: linear-gradient(rgb(0, 0, 0), rgb(19, 28, 53)) rgb(19, 28, 53);
  height: 100%;
}

.layout {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  grid-gap: 12px;
}
.header {
  gap: 8px;
  display: flex;
  flex-direction: column;
  color: white;
  margin-bottom: 24px;
}

.statusContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.systemStatus {
  color: var(--grey);
  font-size: 14px;
}

.status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.status.green {
  background-color: green;
}

.status.orange {
  background-color: orange;
}

.status.red {
  background-color: red;
}
