.container {
  padding: 24px;
  background: linear-gradient(rgb(41, 0, 41), rgb(19, 28, 53)) rgb(19, 28, 53);

  /* 100% - x; x being the ammount padding top + padding bottom. */
  height: calc(100% - 48px)
}

.layout {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  grid-gap: 12px;
}
