html,
body,
:global(#app) {
  height: 100%;
}

:root {
  --grey1: #b1b1b1;
  --grey2: #838282;
  --blockRadius: 24px;
  --blockPadding: 18px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
}
