.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.circle {
  position: absolute;
  pointer-events: none;
  border-radius: 50%;
  filter: blur(0.5px);
  box-shadow: 0 0 0 8px var(--thermal-gauge-main-color) inset,
    0 0px 70px 20px var(--thermal-gauge-main-color) inset,
    0 0px 200px 20px var(--thermal-gauge-faded-color) inset,
    0 0px 100px 20px rgba(255, 255, 255, 0.5) inset,
    0 0px 100px 20px rgba(255, 255, 255, 0.5) inset,
    0 0px 50px 30px var(--thermal-gauge-faded-color),
    0 0px 100px 30px var(--thermal-gauge-faded-color);
}

.canvas {
  position: relative;
  z-index: 1;
  pointer-events: none;
}

.degrees {
  position: absolute;

  /* Visually align on the X axis */
  /* translate: 4px 0; */
  font-size: 60px;
}

.particlesContainer {
  /* TODO: this is somewhat directly related from the size of the ThermalGauge */
  width: 150px;
  height: 150px;
  position: absolute;
  overflow: hidden;
  border-radius: 50%;
}
