.container {
  position: relative;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  position: absolute;
  border-radius: 50%;
  filter: blur(0.5px);
  box-shadow: 0 0 0 8px var(--thermal-gauge-main-color) inset, 0 5px 70px 20px var(--thermal-gauge-main-color) inset,
    0 -5px 200px 20px rgba(255, 255, 255, 0.1) inset,
    0 -5px 100px 20px rgba(255, 255, 255, 0.5) inset,
    0 5px 100px 20px rgba(255, 255, 255, 0.1) inset,
    0 -5px 300px 30px var(--thermal-gauge-faded-color), 0 -5px 300px 30px var(--thermal-gauge-faded-color),
    0 5px 100px 20px rgba(255, 255, 255, 0.2);
}

.canvas {
  position: relative;
  z-index: 1;
}

.degrees {
  position: absolute;
  font-family: monospace;
  font-size: 42px;
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
  color: rgba(255, 255, 255, 0.65);
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}
