.container {
  position: relative;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  position: absolute;
  border-radius: 50%;
  filter: blur(0.5px);
}

.cool {
  box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.8) inset,
    0 5px 200px 20px #0000af99 inset, 0 -5px 200px 20px #0000af99 inset,
    0 -5px 100px 20px rgba(255, 255, 255, 0.4) inset,
    0 5px 100px 20px rgba(255, 255, 255, 0.4) inset, 0 -5px 300px 30px #0000af99,
    0 -5px 300px 30px #0000af99, 0 5px 100px 20px rgba(255, 255, 255, 0.2);
}

.hot {
  box-shadow: 0 0 0 8px rgba(255, 52, 0, 0.7) inset,
    0 5px 200px 20px rgba(144, 0, 0, 0.5) inset,
    0 -5px 200px 20px rgba(144, 0, 0, 0.5) inset,
    0 -5px 100px 20px rgba(255, 255, 255, 0.2) inset,
    0 5px 100px 20px rgba(255, 255, 255, 0.2) inset,
    0 -5px 300px 30px rgba(144, 0, 0, 0.5),
    0 -5px 300px 30px rgba(144, 0, 0, 0.5),
    0 5px 100px 20px rgba(255, 255, 255, 0.2);
}

.canvas {
  position: relative;
  z-index: 1;
}
