.container {
  position: relative;
}

.content {
  transition: filter 0.2s ease;
}

.header {
  display: flex;
}

.header.right {
  justify-content: flex-end;
}

.rays {
  /* Relative to `.container` */
  position: absolute;
  box-sizing: border-box;
  left: 128px;
  pointer-events: none;
}

.ray {
  width: 1px;
  height: 109px;
  background: linear-gradient(
    to top,
    transparent 60%,
    rgba(255, 255, 255, 0.5)
  );
  left: 14px;
  top: 33px;

  /* Relative to `.rays` */
  position: absolute;
  transform-origin: 50% 100%;
}

.label {
  color: #fff;
  text-shadow: 0 0 4px #fff, 0 0 8px #fff;
  font-size: 16px;
}

.avgGaugeContainer {
  /* Relative to `.container` */
  position: absolute;
  top: 50%;
  translate: 0 -50%;
}

.avgGaugeContainer.right {
  scale: -1 1;
  right: -140px;
  rotate: 90deg;
}

.avgGaugeContainer.left {
  left: -140px;
  rotate: -90deg;
}
