.title {
  margin: 0;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.9);
}

.footer {
  display: flex;
  color: rgba(255, 255, 255, 0.6);
  align-items: center;
  gap: 8px;
}

.thermometer {
  display: block;
  width: 16px;
  fill: var(--grey)
}
