.container {
  position: relative;
}

.content {
  transition: filter 0.2s ease;
}

.header {
  display: inline-flex;
  flex-direction: column;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.5),
    0 0 4px rgba(255, 255, 255, 0.5);
  gap: 4px;
}

.header.right {
  display: flex;
  align-items: flex-end;
}

.rays {
  /* Relative to `.container` */
  position: absolute;
  box-sizing: border-box;
  left: 128px;
  pointer-events: none;
}

.ray {
  width: 1px;
  height: 109px;
  background: linear-gradient(
    to top,
    transparent 60%,
    rgba(255, 255, 255, 0.5)
  );
  left: 14px;
  top: 33px;

  /* Relative to `.rays` */
  position: absolute;
  transform-origin: 50% 100%;
}

.label {
  color: #fff;
  font-size: 16px;
}

.glowyText {
  background: linear-gradient(to right, #eee, #f900ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.model {
  color: #fff;
  font-size: 12px;
}

.loadGaugeContainer {
  /* Relative to `.container` */
  position: absolute;
  top: 50%;
  translate: 0 -45%;
}

.loadGraphContainer {
  pointer-events: none;
}

.loadGaugeContainer.right {
  right: -140px;
}

.loadGaugeContainer.right .loadGraphContainer {
  scale: -1 1;
  rotate: 90deg;
}

.loadGaugeContainer.left {
  left: -140px;
}

.loadGaugeContainer.left .loadGraphContainer {
  rotate: -90deg;
}

.loadGaugeContainer.left .loadLabel {
  left: 105px;
  translate: 0 -50%;
}

.loadGaugeContainer.right .loadLabel {
  right: 102px;
  translate: 0 -50%;
}

.loadLabel {
  /* Relative to .loadGaugeContainer */
  position: absolute;
  color: white;
  top: 50%;
  font-size: 14px;
  letter-spacing: 2px;
}
